@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
ul{
  list-style-type: none;
}
body{
  font-family:'Lato',sans-serif;
  color: #333;
  line-height:1.6;
}
a{
  text-decoration:none;
  color: whitesmoke;
}
h1{
  text-align: center;
}
h1,h2{
  font-weight:300;
  line-height:1.2;
  margin:10px 0px;
}
p{
  margin: 10px 0px;
}
img{
  width:40%;
  height:60%;
}

.navbar{
  background-color: #333;
  color: white;
  height:70px;
  overflow:auto;
}
.navbar ul{
  display:flex;
}
.navbar .flex{
  justify-content: space-between;
}

.showcase{
  overflow:auto;
  background-color: #333;
  color: white;
}
.showcase-form {
  top:60px;
  height:400px;
  width: 450px;
  padding:50px;
  z-index: 100;
}
.showcase-form .form-control{
  margin:10px;
}
.grid{

  display:grid;
  -ms-layout-grid-type: fixed;
  grid-template-columns: 1.7fr 1fr;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.grid h4{
  text-align: center;
  font-size: 20px;
}
.showcase .grid{
  grid-template-columns: 60% 40%;
  gap:30px;
}
.navbar a{
  color: white;
  padding:15px;
  margin:0 5px;

}
.navbar a:hover{
  border-bottom:1.5px solid white;
}
.container{
  max-width:1100px;
  margin:0 auto;
  padding:0 40px;
}
.flex{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}






/*
html, body {
  background-color: lightblue;
  margin: 10px;
  font-size: 20px;
}
body > h2{
  text-align: center;
}

p {
  color: darkblue;
  text-align: center;
}

.head-box > {
  display: flex;
  font-size: 2em;
  padding: 10px 20px;
}

.head-box {
  background-color: lightblue;
  color: #ffeead;
}


.header {
    background-color: #96ceb4;	
}

.header :nth-child(2) {
    padding: 0 40px;
}

.menu {
    background-color: #ff6f69;
}

.content {
    background-color: #ffcc5c;
}

.footer {
    background-color: #88d8b0;
}

.grid-page > div {
    color: #ffeead;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
*/
/*
.head-box {
     position: static;
    text-align: center;
    font-family: monospace;
    color: tomato;
    top: 100%;
    left: 30%;
    transform: translate(50%,50%); */
  /* 
    display: flex; 
    background-color:lightyellow;
    color: #333;
}

.head-box > div:nth-child(2) {
    margin: auto;
}

.grid-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header {
  
    grid-column: 2/ -1;
}

.menu {
    grid-column: 1 / 2;
}

.content {
    grid-column: 2 / -1;
}

.footer {
    grid-column: 1 / -1;
}
.selfphoto{
  display:block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
*/
