@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
body{background-color: white;}
ul{
  list-style-type: none;
}
body{
  font-family:'Lato',sans-serif;
  color: white;
  background-color: #333;
  line-height:1.6;
}
a{
  text-decoration:none;
  color: white;
}
h1{
  text-align: center;
}
h1,h2{
  font-weight:300;
  line-height:1.2;
  margin:10px 0px;
}
p{
  margin: 10px 0px;
}
img{
  padding:50px;
  padding-bottom:10%;
}

.navbar{
  background-color: #333;
  color: white;
  height:70px;
  overflow:auto;
}
.navbar ul{
  display:flex;
}
.navbar .flex{
  justify-content: space-between;
}
.showcase-text h2{
 font-size:30px;
 text-align:center;
}
.showcase-text h3{
  text-decoration: underline;
  text-decoration-color: white;
  font-size:25px;
  text-align:center;
 }
.showcase{
  height:auto;
  overflow:auto;
  background-color: #333;
  color: white;
}
.showcase-form {
  top:60px;
  height:400px;
  width: 450px;
  padding:50px;
  z-index: 100;
}
.showcase-form .form-control{
  margin:30px 0;
  color:#333;
}
.showcase-form input[type='text'],
.showcase-form input[type='text']{
border:0;
border-bottom:1px;
}
.showcase{
  overflow-x:hidden;
}
.grid{
   display:grid;
   -ms-layout-grid-type: fixed;
   grid-template-columns: 1.7fr 1fr;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.grid h4{
  text-align: center;
  font-size: 20px;
}

.showcase .grid{
  overflow:visible;
  grid-template-columns: 60% 40%;
  gap:30px;
}
.navbar a{
  color: white;
  padding:15px;
  margin:0 5px;

}
.intro{
  align-items: center;
}

.grid-head{
  display:grid;
  grid-gap:0px;
  height:100%;
  grid-auto-flow: column;
  /* grid-template-columns: repeat(2,1fr); */
  /* grid-template-rows: repeat(3,100px); */
  /* justify-content: end; */
  color:white;
  background-color: #333;
  align-items: center;
  text-align: center;
  
}
.grid-head {
  grid-template-areas:
  "i i i i a a a a"
  "i i i i b b b b"
  "i i i i c c c c";
/*   
  margin-bottom:30px;
  padding-left:370px;
  margin-right:-200px;
  padding-top:-200px;
  padding-bottom:200px;
} */
}
/* .grid-head .item1{
  
  width:100%;
  margin-left:10px;
  justify-self:left;
  margin-top:300px;
  height:350%;
} */
.grid-head .grid-text{
  align-items:center;
}
.grid-head img{
  grid-area:i;
  height:78%;
  width:80%;
  margin:0;
  margin-top:-10%;
  min-width:400px;
  max-width:600px;
  min-height:500px;
  max-height:700px;
  align-items: center;
  /* margin-left:5%;
  margin-right:-20%;
  margin-top:-20%; */
  padding-bottom:30%;
}
.grid-head ul{
    grid-gap:20px;
    list-style-type: circle;

}
.grid-head li{
  font-size:20px;
  margin:15px 0;
}

.grid-head .item2{
  grid-area:a;
}
.grid-head .item3{
  grid-area:b;
}
.grid-head .item4{
  grid-area:c;
}
.navbar a:hover{
  border-bottom:1.5px solid white;
}
.container{
  max-width:1100px;
  margin:0 auto;
  padding:0 40px;
}
.flex{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}
.btn{
  display:inline-block;
  padding: 10px 30px;
  cursor:pointer;
  background-color:#333;
  color:white;
  border:none;
  border-radius: 5px;
}
.btn{
  background-color:transparent;
  border:1px white solid;
}
.btn-primary{
  background-color:whitesmoke;
  color:#333;
}
.card{
margin-top:20px;
color:#333;
height:100%;
border: solid rgb(78, 78, 78) 10px;
background-color:lightgoldenrodyellow;
}
.card h2{
  text-decoration: underline;
  text-decoration-color: #333;
  font-size:28px;
}

/* About Page */
.intro{
  background-color:#333;
  color:white;
  margin-left: 10px;
  text-align: left;
  justify-content: baseline;
}
.intro h2{
  text-decoration:wavy;
  text-decoration-color:#333;
}


.projects a{
  color: #333;
}
/* .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead; */



.btn-jacobs{
  cursor:pointer;
  background-color:#333;
  color:white;
}
.projects p{
  font-size:18px;
}
.projects{
  color:#333;
  background-color: #333;
  margin:10px;
  
}
.projects > div:nth-child(3){
 font-size:30px;
}
.projects > div:nth-child(4){
  font-size:30px;
 }
.projects > div:nth-child(1n) {
  padding-left:5px;
background-color: #dacfec;
margin-bottom:10px;	

}
.projects> div:nth-child(2n) {
  background-color: #92e6c3;
}
.projects > div:nth-child(3n) {
background-color: #e7c8e7;
}


.projects h2{
  text-decoration: underline;
  text-decoration-color: #333;
}
.projects > div:nth-child(4n) {
    background-color: #accdff;
}
.linkedin a {
  color:blue;
}
.projects a{
  text-decoration: underline;
  color:blue;
  text-decoration-color: navy;
}
.projects p{
  margin:0;
  font-size:20px;
}
